﻿<script type="text/x-jquery-tmpl" id="tmpl_tab">
    <div class="b-tabs__item">
        <div class="b-tab-header">
            <div class="b-tab-header__close"></div>
            <a href="#collapse" class="b-tab-header__title">${title}</a>
        </div>

        <div class="b-tab-content">{{html body}}</div>
    </div>
</script>