﻿//= template/head.html

//= template/tmplTab.html

<div class="b-page">
    <div class="b-tabs">
        <div class="b-tabs__create">
            <div class="b-tab-create">
                <div class="b-tab-create__title">Создать вкладку</div>
                <button class="b-tab-create__btn" onclick="TabCreate()"></button>
            </div>
        </div>
    </div>
</div>

//= template/footer.html


