.b-page {
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
}

.b-tabs__item {
    border: solid 1px #808080;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    margin-bottom: 5px;
}

.b-tab-header {
    background: #6ca4fc;
    height: 30px;

    &__title {
        font-weight: bold;
        padding: 5px;
        color: #fff;
    }

    &__close {
        cursor: pointer;
        background: url("/img/close.png") no-repeat scroll 0 0;
        float: right;
        height: 20px;
        width: 20px;
        margin: 5px;
    }
}

.b-tab-content {
    padding: 10px;
    color: #333;
    display: none;
}

.b-tab-create {
    background-color: #f5f5f5;
    border: dashed 1px #808080;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;

    &__title {
        text-align: center;
        font-weight: bold;
    }
    &__btn {
        background: url("/img/add.png") no-repeat scroll 0 0;
        border: 0 none;
        cursor: pointer;
        display: block;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        width: 50px;
    }
}